<div class="container-fluid p-0">
    <!-- Top Green Section -->
    <div class="top-container">
            <h1 class="text-white">WE'RE HERE TO HELP, 24/7</h1>
            <p class="text-white">Whether you want to browse our FAQ for solutions or speak to us directly via in-app chat, we’ve got you.</p>
    </div>

    <div class="bottom-container">
        <div class="content">
            <div class="banner d-flex justify-content-between align-items-center">
                <div class="banner-content">
                    <h2 class="banner-title"><span>CHAT</span> WITH US DIRECTLY</h2>
                    <p class="banner-desc">Speak to a member of our support team via secure in-app  chat.</p>
                    <div class="d-flex justify-content-center">
                        <a class="banner-btn btn">VISIT IN-APP CHAT SUPPORT<img src="imgs/arrow.png"></a>
                    </div>
                </div>
                <img class="banner-img" src="imgs/banner1.png" alt="Banner Image">
            </div>
        
            <div class="banner d-flex justify-content-between align-items-center">
                <img class="banner-img" src="imgs/banner1.png" alt="Banner Image">
                <div class="banner-content">
                    <h2 class="banner-title">READY-TO-GO <span>ANSWERS</span></h2>
                    <p class="banner-desc">Find detailed responses to common questions in our FAQs.</p>
                    <div class="d-flex justify-content-center">
                        <a class="banner-btn btn">VISIT OUR FAQs<img src="imgs/arrow.png"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
