<!-- Terms and Conditions Modal -->
<div
  class="modal fade"
  id="termsModal"
  tabindex="-1"
  aria-labelledby="termsModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog custom-modal-width">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title" id="termsModalLabel">Terms and Conditions</h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <p>
          LAST UPDATED: MAY 3, 2022 Welcome, and thank you for your interest in
          the Nevly Holdings Corp.. mobile application and online services
          (collectively, the “Service”) made available by Nevly Holdings Corp.
          (“Nevly,” “we,” or “us”). BY CLICKING “I ACCEPT,” YOU AGREE THAT YOU
          HAVE READ AND UNDERSTOOD, AND, AS A CONDITION TO YOUR USE OF THE
          SERVICE, YOU AGREE TO BE BOUND BY, THE FOLLOWING TERMS AND CONDITIONS,
          INCLUDING NEVLY’S PRIVACY POLICY AND ALL OTHER TERMS AND CONDITIONS
          THAT APPLY TO OUR SERVICES (TOGETHER, THESE “TERMS”). IF YOU ARE NOT
          ELIGIBLE, OR DO NOT AGREE TO THE TERMS, THEN YOU DO NOT HAVE OUR
          PERMISSION TO USE THE SERVICE. YOUR USE OF THE SERVICE, AND NEVLY’S
          PROVISION OF THE SERVICE TO YOU, CONSTITUTES AN AGREEMENT BY NEVLY AND
          BY YOU TO BE BOUND BY THESE TERMS. ELIGIBILITY. You must be at least
          18 years old to use the Service. If you are under 18 and we provide
          you access to the Service, separate terms and conditions may apply. By
          agreeing to these Terms, you represent and warrant to us that: (1) you
          are at least 18 years old; (2) you have not previously been suspended
          or removed from the Service; and (3) your registration and use of the
          Service is in compliance with any and all applicable laws and
          regulations. ARBITRATION NOTICE. Except for certain kinds of disputes
          described in Section 14, you agree that disputes arising under these
          Terms will be resolved by binding, individual arbitration, and BY
          AGREEING TO THESE TERMS, YOU AND NEVLY ARE EACH WAIVING THE RIGHT TO A
          TRIAL BY JURY OR TO PARTICIPATE IN ANY CLASS ACTION OR REPRESENTATIVE
          PROCEEDING. YOU AGREE TO GIVE UP YOUR RIGHT TO GO TO COURT to assert
          or defend your rights under this contract (except for matters that may
          be taken to small claims court). Your rights will be determined by a
          NEUTRAL ARBITRATOR and NOT a judge or jury. (See Section 14.) Overview
          of the Service. The Service provides you and other users an account
          dashboard that enables you to select and access holistic financial
          support services owned and operated by Nevly, or by independent
          third-party service providers. Among other services, the Services
          include access to independent third-party: credit report and
          improvement services, rental payment reporting services, budget
          planning services and credit monitoring services. We have no
          responsibility for any investment, financial decision or action you
          make based on information or advice from any third-party service
          provider available on or through the Service. You are solely
          responsible for any investment decision you make, and any agreement
          entered by you and the third-party adviser. You understand and agree
          that your access and use of all third-party services is subject to the
          terms and conditions applicable to such services. NEVLY IS NOT
          RESPONSIBLE IN ANY WAY FOR YOUR USE OF THIRD-PARTY SERVICES AND ANY
          RESULTING DAMAGES. YOU CHOOSE TO USE THE SERVICE AND ANY THIRD-PARTY
          SERVICE AT YOUR OWN RISK. Registration and Your Account. You must have
          a registered account on Nevly to access and use the features of the
          Service. During registration of your account, you may be required (i)
          to provide us with some information about yourself, such as your name,
          phone number, email address, and other contact information, facial
          identifiers and other biometric data for account verification, your
          region, government ID card information, Social Security or Individual
          Taxpayer Identification Number and Service preferences, and (ii) to
          create a password. You agree that: (a) the information you provide to
          us is accurate and that you will keep it accurate and up to date at
          all times; (b) you are solely responsible for maintaining the
          confidentiality of your account and password on the Service; and (c)
          you accept responsibility for all activities that occur under your
          account. If you believe that your account or password is no longer
          secure, then you must immediately notify us by emailing us at: privacynevly.com. License to the Service. Subject to your complete
          and ongoing compliance with these Terms, Nevly grants you, solely for
          your personal, non-commercial use, a limited, non-exclusive,
          non-transferable, non-sublicensable, revocable license to: (a) install
          and use one object code copy of any mobile or other downloadable
          application associated with the Service obtained from a legitimate
          marketplace on a mobile device that you own or control; and (b) access
          and use the Service. License Restrictions. Your right to use the
          Service is personal to you and you may not share, lease, lend, or
          otherwise make available the Service (or your access credentials) to
          any third-party unless otherwise required or permissible by Nevly.
          Ownership. Except for the limited rights granted above, Nevly retains
          all right, title, and interest, including all intellectual property
          rights, in and to the Service. ALL RIGHTS NOT EXPRESSLY GRANTED UNDER
          THESE TERMS ARE RESERVED BY NEVLY. User Generated Content and Testing
          and Evaluating the Service. User Content. In the event that you
          provide any comments, information, photographs, reviews, techniques or
          any other material contained in any communication that you may post,
          upload or submit through the Service or to Nevly ("User Content"), you
          shall, and hereby, grant Nevly a perpetual, royalty-free, irrevocable
          license to use, reproduce, modify, adapt, create derivative works
          from, publish, translate, license, transmit, distribute and otherwise
          exploit any or all portions of such User Content. In addition, you
          hereby irrevocably waive all “moral rights”, or similar protected
          rights under applicable law, in any such User Content. You also
          confirm to Nevly that the User Content is wholly original to you; that
          the User Content does not contain any confidential or proprietary
          information; that the User Content does not infringe any third-party's
          rights including intellectual property rights, and that Nevly is free
          to implement the User Content, at its discretion, as provided by you
          or modified by us, without obtaining further permission from you or
          any third-party, and without any additional consideration of any kind.
          Nevly is not obligated to review, pre-screen, monitor, delete or edit
          User Content. However, it reserves the right to do so at any time in
          its sole discretion, and to refuse, delete, remove or edit any User
          Content, in whole or in part, with or without notice, at its sole
          discretion and without any responsibility or liability.
          Notwithstanding the foregoing, Nevly will not be liable for any User
          Content. Feedback. Nevly may periodically request that you provide,
          and you agree to provide to Nevly, feedback regarding the use,
          operation, and functionality of the Service (“Feedback”), including
          any information about known or suspected bugs, errors or compatibility
          problems, suggested modifications, and user-desired features. You
          grant Nevly a perpetual, irrevocable, non-exclusive, worldwide,
          royalty-free, fully paid-up, fully sublicensable, and transferable
          right to use and incorporate Feedback into any products and services,
          to make, use, sell, offer for sale, import, and otherwise exploit such
          products and services, and to otherwise use, copy, distribute, and
          exploit the Feedback without restriction. Confidentiality. You will
          maintain in strict confidence the confidentiality of, and not disclose
          to any third-party: (a) all non-public information disclosed by Nevly
          to you in connection with these Terms; and (b) all Feedback, Service
          performance data. Furthermore, you will not, and will not permit any
          third-party to, modify, disassemble, decompile, reverse engineer,
          rent, lease, loan, transfer, or copy any portion of, or circumvent or
          disable any security or other technological features of the Service.
          Term and Termination. Subject to the terms of your Subscription
          Service (defined below), these Terms will be effective upon the
          earlier of your acceptance of these Terms or use of the Service and
          will continue until terminated (the “Term”) ; and we or you may
          terminate these Terms at any time with or without cause upon 14 days’
          prior written notice to the other party. Nevly may terminate these
          Terms immediately upon notice to you if you are in material breach of
          any of the provisions of these Terms. Sections 4, 5, 7, 13, 14, 19 –
          24 will survive the termination of these Terms. Any continued access
          to and use of the Service after the Term and termination of these
          Terms will be pursuant to new terms and conditions. General Payment
          Terms Subscription Fee. Our Service has a monthly cost of $69.99 with
          automatically recurring payments for periodic charges (“Subscription
          Service”) unless you cancel the Subscription Service, or we terminate
          it. If you activate the Subscription Service, you authorize Nevly or
          our third-party payment processors to periodically charge, on a
          going-forward basis and until cancellation of the Subscription
          Service, all accrued sums and taxes on or before the payment due date.
          For information on the Subscription Services, please see [insert
          hyperlink to the Pricing Page of the Campaign]. You may cancel the
          Subscription Service by sending an email to supportnevly.com from the
          email address used to create the user account with the words “CANCEL
          SUBSCRIPTION” in the subject line. Your cancellation will be effective
          at the end of the Subscription Service period which you make the
          cancellation. YOUR CANCELLATION MUST BE RECEIVED BEFORE THE RENEWAL
          DATE IN ORDER TO AVOID CHARGE FOR THE NEXT SUBSCRIPTION PERIOD. Price.
          Nevly reserves the right to determine pricing for the Service. Nevly
          will make reasonable efforts to keep pricing information published on
          the Service up to date. We encourage you to check our pricing page
          [at: insert hyperlink to the Pricing Page of the Campaign ]
          periodically for current pricing information. Nevly may change the
          fees for any feature of the Service, including additional fees or
          charges, if Nevly gives you advance notice of changes before they
          apply. Nevly, at its sole discretion, may make promotional offers with
          different features and different pricing to any of Nevly’s customers.
          These promotional offers, unless made to you, will not apply to your
          offer or these Terms. Authorization. You authorize Nevly to charge all
          sums for the orders that you make and any level of Service you select
          as described in these Terms or published by Nevly, including all
          applicable taxes, to the payment method specified in your account. If
          you pay any fees with a credit card, then Nevly may seek
          pre-authorization of your credit card account prior to your purchase
          to verify that the credit card is valid and has the necessary funds or
          credit available to cover your purchase. Delinquent Accounts. Nevly
          may suspend or terminate access to the Service, for any account for
          which any amount is due but unpaid. In addition to the amount due for
          the Service, a delinquent account will be charged with fees or charges
          that are incidental to any chargeback or collection of any the unpaid
          amount, including collection fees. If your payment method is no longer
          valid at the time a renewal Subscription Service fee is due, then
          Nevly reserves the right to delete your account and any information
          associated with your account without any liability to you. Your
          Representations, Warranties, and Acknowledgements. You represent and
          warrant to Nevly and otherwise acknowledge and agree that: Nevly is
          not and will not be liable to you or responsible for your use of
          independent third-party service providers; you are solely responsible
          for making your own financial or investment decisions; you will
          cooperate with us in connection with any investigation or inquiry
          relating to your use of the Service; you are solely responsible for
          independently examining and understanding the tax, legal and
          accounting consequences related to any investment decision you make
          based on or otherwise in connection with the Service; you will provide
          Nevly with information, authorizations and documentation as Nevly may
          request from time to time to carry out its obligations under these
          Terms or to avoid violations of any applicable laws, and will notify
          Nevly promptly in writing of any change in the information so
          furnished; you will not: use the Service for any illegal purpose or in
          violation of any local, state, national, or international law; harass,
          threaten, demean, embarrass, bully, or otherwise harm any other user
          of the Service; violate, encourage others to violate, or provide
          instructions on how to violate, any right of a third-party, including
          by infringing or misappropriating any third-party intellectual
          property right; access, search, or otherwise use any portion of the
          Service through the use of any engine, software, tool, agent, device,
          or mechanism (including spiders, robots, crawlers, and data mining
          tools) other than the software or search agents provided by Nevly;
          interfere with security-related features of the Service, including by:
          1.disabling or circumventing features that prevent or limit use,
          printing or copying of any content; or 2. reverse engineering or
          otherwise attempting to discover the source code of any portion of the
          Service except to the extent that the activity is expressly permitted
          by applicable law; interfere with the operation of the Service or any
          user’s enjoyment of the Service, including by: 1. uploading or
          otherwise disseminating any virus, adware, spyware, worm, or other
          malicious code; 2. making any unsolicited offer or advertisement to
          another user of the Service; 3. collecting personal information about
          another user or third-party without consent; or 4. interfering with or
          disrupting any network, equipment, or server connected to or used to
          provide the Service; perform any fraudulent activity including
          impersonating any person or entity, claiming a false affiliation or
          identify, accessing any other Service account without permission, or
          falsifying your age or date of birth; sell or otherwise transfer the
          access granted under these Terms; post or transmit any advertising,
          charitable requests, business opportunities, memberships, promotional
          materials or any other solicitation of other users to use goods or
          services except where authorized; copy or use personal identifying or
          business contact information about other users without permission;
          Unsolicited emails, mailings, telephone calls, or other communications
          to individuals; or attempt to do any of the acts described in this
          Section or assist or permit any person in engaging in any of the acts
          described in this Section. Communications Text Messaging. You agree
          that Nevly and those acting on our behalf may send you text (SMS)
          messages at the phone number you provide us. These messages may
          include operational messages about your use of the Service, as well as
          marketing messages. Text messages may be sent using an automatic
          telephone dialing system. Standard data and message rates may apply
          whenever you send or receive such messages, as specified by your
          carrier. BY PROVIDING YOUR PHONE NUMBER AND CLICKING “SIGNUP TO
          NEVLY,” TO THESE TERMS OR SIGNING UP FOR THE SERVICES YOU AGREE TO
          RECEIVE CALLS AND/OR TEXT MESSAGES AT THE NUMBER YOU PROVIDE TO NEVLY.
          WE’RE REQUIRED TO INFORM YOU THAT THESE CALLS AND/OR TEXT MESSAGES MAY
          BE CONSIDERED MARKETING UNDER APPLICABLE LAW, WE MAY BE MADE USING AN
          AUTODIALER, AND YOUR CONSENT IS NOT A CONDITION OF PURCHASE. IF YOU
          WISH TO OPT OUT OF ALL TEXT MESSAGES FROM NEVLY, YOU CAN EMAIL
          SUPPORTNEVLY.COM OR TEXT THE WORD “STOP” TO THE NUMBER FROM WHICH YOU
          ARE RECEIVING THE MESSAGES, HOWEVER YOU ACKNOWLEDGE THAT OPTING OUT OF
          RECEIVING ALL MESSAGES MAY IMPACT YOUR USE OF THE SERVICE. You may
          continue to receive text messages for a short period while we process
          your request, including a message confirming the receipt of your
          opt-out request. Your agreement to receive marketing texts is not a
          condition of any purchase on or use of the Service. Push
          Notifications. When you sign up for the Services on your mobile
          device, you will receive the option to turn on push notifications. If
          you turn on this feature, you agree to receive push notifications,
          which are messages an app sends you on your mobile device when you are
          not in the app. You can turn off notifications by visiting your phone
          or Services “Notification Settings” page. Email. We may send you
          promotional emails concerning our products and services, including
          from third parties. You may opt out of promotional emails by following
          the unsubscribe instructions in the promotional email itself.
          Disclaimers; No Warranties. YOUR ACCESS TO AND USE OF ALL OR ANY
          PORTION OF THE SERVICE IS ENTIRELY AT YOUR OWN RISK. THE SERVICE IS
          PROVIDED ON AN “AS IS” BASIS. TO THE MAXIMUM EXTENT PERMITTED BY
          APPLICABLE LAW, NEVLY, ITS AFFILIATES, AND THEIR RESPECTIVE
          SHAREHOLDERS, DIRECTORS, MEMBERS, MANAGERS, PARTNERS, OFFICERS,
          EMPLOYEES, CONTRACTORS, AND OTHER AGENTS (COLLECTIVELY, “NEVLY
          PARTIES”) DISCLAIM ALL WARRANTIES, EITHER EXPRESS OR IMPLIED,
          INCLUDING: (A) WARRANTIES OF MERCHANTABILITY, QUALITY, ACCURACY,
          TITLE, NON-INTERFERENCE, NON-INFRINGEMENT, AND FITNESS FOR A
          PARTICULAR PURPOSE WITH RESPECT TO THE SERVICE; (B) WARRANTIES THAT
          THE SERVICE, AND ANY DATA PROCESSED THROUGH OR USING THE SERVICE IS
          SECURE, ACCURATE, FREE FROM BUGS, VIRUSES, INTERRUPTION, ERRORS, THEFT
          OR DESTRUCTION; AND (C) WARRANTIES OR GUARANTEES THAT YOUR INVESTMENT,
          RISK CONTROL, RISK MANAGEMENT, OR RETURN OBJECTIVES, EXPECTATIONS, OR
          TARGETS WILL BE ACHIEVED. IF ANY OF THESE EXCLUSIONS DO NOT APPLY TO
          YOU OR ARE VOID WITH RESPECT TO YOU UNDER ANY APPLICABLE LAW, THEN ANY
          WARRANTY THAT CANNOT BE EXCLUDED IS LIMITED TO THE SHORTER OF: (I) 90
          DAYS FROM THE DATE OF FIRST DELIVERY OF THE SERVICE; AND (II) THE
          SHORTEST PERIOD PERMITTED UNDER APPLICABLE LAW. Limitation of
          Liability. TO THE FULLEST EXTENT PERMITTED UNDER APPLICABLE LAW: (A)
          THE NEVLY PARTIES’ AGGREGATE LIABILITY FOR DAMAGES ARISING OUT OF OR
          UNDER THESE TERMS WILL NOT EXCEED THE GREATER OF: (1) FEES PAID TO YOU
          IN THE 6 MONTHS PRECEDING THE DATE OF THE APPLICABLE CLAIM; AND (2)
          THE SUM OF US$100; AND (B) NO NEVLY PARTY WILL BE LIABLE FOR (I) ANY
          CONSEQUENTIAL, SPECIAL, INDIRECT, INCIDENTAL, OR PUNITIVE DAMAGES,
          EVEN IF ANY NEVLY PARTY HAS BEEN ADVISED OF THE POSSIBILITY OF THOSE
          DAMAGES, (II) ANY DAMAGES RELATING TO FAILURES OF TELECOMMUNICATIONS,
          THE INTERNET, ELECTRONIC COMMUNICATIONS, DATA CORRUPTION, SECURITY,
          LOSS OR THEFT OF DATA, VIRUSES, SPYWARE, LOSS OF BUSINESS, LOSS OF
          REVENUE, OR LOSS OF PROFITS OR INVESTMENT; AND (III) ANY LOSS, DAMAGE
          OR LIABILITY RELATED TO OR RESULTING FROM ANY FINANCIAL OR INVESTMENT
          ADVICE MADE TO YOU. THESE LIMITATIONS WILL APPLY NOTWITHSTANDING ANY
          FAILURE OF ESSENTIAL PURPOSE OF ANY LIMITED REMEDY IN THESE TERMS.
          Dispute Resolution and Arbitration Generally. In the interest of
          resolving disputes between you and Nevly in the most expedient and
          cost effective manner, and except as described in Section (1) and (2),
          you and Nevly agree that every dispute arising in connection with
          these Terms, the Service, and communications from us will be resolved
          by binding arbitration. Arbitration is less formal than a lawsuit in
          court. Arbitration uses a neutral arbitrator instead of a judge or
          jury, may allow for more limited discovery than in court, and can be
          subject to very limited review by courts. Arbitrators can award the
          same damages and relief that a court can award. This agreement to
          arbitrate disputes includes all claims arising out of or relating to
          any aspect of these Terms, the Service, or any communications to or
          from us, whether based in contract, tort, statute, fraud,
          misrepresentation, or any other legal theory, and regardless of
          whether a claim arises during or after the termination of these Terms.
          YOU UNDERSTAND AND AGREE THAT, BY ENTERING INTO THESE TERMS, YOU AND
          NEVLY ARE EACH WAIVING THE RIGHT TO A TRIAL BY JURY OR TO PARTICIPATE
          IN A CLASS ACTION. Exceptions. Despite the provisions of Section 14
          (1), nothing in these Terms will be deemed to waive, preclude, or
          otherwise limit the right of either party to: (a) bring an individual
          action in small claims court; (b) pursue an enforcement action through
          the applicable federal, state, or local agency if that action is
          available; (c) seek injunctive relief in a court of law in aid of
          arbitration; or (d) to file suit in a court of law to address an
          intellectual property infringement claim. Opt-Out. If you do not wish
          to resolve disputes by binding arbitration, you may opt out of the
          provisions of this Section within 30 days after the date that you
          agree to these Terms by sending a letter to Nevly Holdings Corp.,
          Attention: Legal Department – Arbitration Opt-Out, :1201 Wilson Blvd.,
          Arlington, Virginia 22209 that specifies: your full legal name, the
          email address associated with your account on the Service, and a
          statement that you wish to opt out of arbitration (“Opt-Out Notice”).
          Once Nevly receives your Opt-Out Notice, this Section will be void and
          any action arising out of these Terms will be resolved as set forth in
          Section 20. The remaining provisions of these Terms will not be
          affected by your Opt-Out Notice. Arbitrator. Any arbitration between
          you and Nevly will be settled under the Federal Arbitration Act and
          administered by the American Arbitration Association (“AAA”) under its
          Consumer Arbitration Rules (collectively, “AAA Rules”) as modified by
          these Terms. The AAA Rules and filing forms are available online at
          www.adr.org, by calling the AAA at +1-800-778-7879, or by contacting
          Nevly. The arbitrator has exclusive authority to resolve any dispute
          relating to the interpretation, applicability, or enforceability of
          this binding arbitration agreement. Notice of Arbitration; Process. A
          party who intends to seek arbitration must first send a written notice
          of the dispute to the other party by certified U.S. Mail or by Federal
          Express (signature required) or, only if that other party has not
          provided a current physical address, then by electronic mail (“Notice
          of Arbitration”). Nevly’s address for Notice is: 1201 Wilson Blvd.,
          Arlington, Virginia 22209. The Notice of Arbitration must: (a)
          describe the nature and basis of the claim or dispute; and (b) set
          forth the specific relief sought (“Demand”). The parties will make
          good faith efforts to resolve the claim directly, but if the parties
          do not reach an agreement to do so within 30 days after the Notice of
          Arbitration is received, you or Nevly may commence an arbitration
          proceeding. All arbitration proceedings between the parties will be
          confidential unless otherwise agreed by the parties in writing. During
          the arbitration, the amount of any settlement offer made by you or
          Nevly must not be disclosed to the arbitrator until after the
          arbitrator makes a final decision and award, if any. If the arbitrator
          awards you an amount higher than the last written settlement amount
          offered by Nevly in settlement of the dispute prior to the award,
          Nevly will pay to you the higher of: (a) the amount awarded by the
          arbitrator and (b) US$10,000. Fees. If you commence arbitration in
          accordance with these Terms, Nevly will reimburse you for your payment
          of the filing fee, unless your claim is for more than US$10,000, in
          which case the payment of any fees will be decided by the AAA Rules.
          Any arbitration hearing will take place at a location to be agreed
          upon in the county and state of your residence or billing address, but
          if the claim is for US$10,000 or less, you may choose whether the
          arbitration will be conducted: (a) solely on the basis of documents
          submitted to the arbitrator; (b) through a non-appearance based
          telephone hearing; or (c) by an in-person hearing as established by
          the AAA Rules in the county (or parish) of your residence or billing
          address. If the arbitrator finds that either the substance of your
          claim or the relief sought in the Demand is frivolous or brought for
          an improper purpose (as measured by the standards set forth in Federal
          Rule of Civil Procedure 11(b)), then the payment of all fees will be
          governed by the AAA Rules. In that case, you agree to reimburse Nevly
          for all monies previously disbursed by it that are otherwise your
          obligation to pay under the AAA Rules. Regardless of the manner in
          which the arbitration is conducted, the arbitrator must issue a
          reasoned written decision sufficient to explain the essential findings
          and conclusions on which the decision and award, if any, are based.
          The arbitrator may make rulings and resolve disputes as to the payment
          and reimbursement of fees or expenses at any time during the
          proceeding and upon request from either party made within 14 days of
          the arbitrator’s ruling on the merits. No Class Actions. YOU AND WE
          BOTH AGREE THAT EITHER PARTY MAY BRING CLAIMS AGAINST THE OTHER ONLY
          IN ITS INDIVIDUAL CAPACITY AND NOT AS A PLAINTIFF OR CLASS MEMBER IN
          ANY PURPORTED CLASS OR REPRESENTATIVE PROCEEDING. Further, unless we
          and you both agree otherwise, the arbitrator may not consolidate more
          than one person’s claims, and may not otherwise preside over any form
          of a representative or class proceeding. Modifications to this
          Arbitration Provision. If Nevly makes any future change to this
          arbitration provision, other than a change to Nevly’s address for
          Notice of Arbitration, you may reject the change by sending us written
          notice within 30 days of the change to Nevly’s address for Notice of
          Arbitration, in which case your account with Nevly will be immediately
          terminated and this arbitration provision, as in effect immediately
          prior to the changes you rejected will survive. Enforceability. If
          Sub-Section (6) or the entirety of this Section is found to be
          unenforceable, or if Nevly receives an Opt-Out Notice from you, then
          the entirety of this Section 14 will be null and void and, in that
          case, the exclusive jurisdiction and venue described in Section 20
          will govern any action arising out of or related to these Terms.
          Indemnification. You will defend, indemnify, and hold the Nevly
          Parties harmless against any claim, demand, suit, or proceeding made
          or brought against any Nevly Party by a third-party and any related
          expenses (including reasonable attorneys’ fees), losses, damages,
          liabilities, demands, charges, fees, or claims of any kind or nature
          whatsoever (collectively, “Losses”) arising from, relating to, or
          otherwise based on: (a) any breach of these Terms by you; (b) any
          inaccuracy or omission of any information, data, or other materials
          provided to Nevly by you or otherwise transmitted to or through the
          Service; (c) any action for securities law violations instituted by
          you that is finally resolved by judgment against you. Your obligations
          under this Section are in addition to any liability you may otherwise
          have under these Terms. Notice to California Residents. If you are a
          California resident, under California Civil Code Section 1789.3, you
          may contact the Complaint Assistance Unit of the Division of Consumer
          Services of the California Department of Consumer Affairs in writing
          at 1625 N. Market Blvd., Suite S-202, Sacramento, California 95834, or
          by telephone at (800) 952-5210 in order to resolve a complaint
          regarding the Service or to receive further information regarding use
          of the Service. No Support. We are under no obligation to provide
          support for the Service. In instances where we may offer support, the
          support will be subject to our relevant policies. International Use.
          The Service is intended for visitors located within the United States.
          We make no representation that the Service is appropriate or available
          for use outside of the United States. Access to the Service from
          countries or territories or by individuals where such access is
          illegal is prohibited. Notice Regarding Apple. This Section only
          applies to the extent you are using Nevly on a Device that is an iOS
          device. You acknowledge that these Terms are between you and Nevly
          only, not with Apple Inc. (“Apple”), and Apple is not responsible for
          the Service (including any content on it). Apple has no obligation to
          furnish any maintenance and support services with respect to the
          Service. If the Service fails to conform to any applicable warranty,
          you may notify Apple, and Apple will refund any applicable purchase
          price for Nevly to you; and, to the maximum extent permitted by
          applicable law, Apple has no other warranty obligation with respect to
          the Service. Apple is not responsible for addressing any claims by you
          or any third-party relating to the Service or your possession or use
          of the Service, including: (a) product liability claims; (b) any claim
          that the Service fails to conform to any applicable legal or
          regulatory requirement; or (c) claims arising under consumer
          protection or similar legislation. Apple is not responsible for the
          investigation, defense, settlement, and discharge of any third-party
          claim that the Service or your possession and use of the Service
          infringes a third-party’s intellectual property rights. You agree to
          comply with any applicable third-party terms when using the Service.
          Apple and Apple’s subsidiaries are third-party beneficiaries of these
          Terms, and upon your acceptance of these Terms, Apple will have the
          right (and will be deemed to have accepted the right) to enforce these
          Terms against you as a third-party beneficiary of these Terms. You
          represent and warrant that: (i) you are not located in a country that
          is subject to any U.S. Government embargo or economic sanctions or
          that has been designated by the U.S. Government as a “terrorist
          supporting” country; and (ii) you are not listed on any U.S.
          Government list of prohibited, restricted, or blocked parties.
          Governing Law and Venue. These Terms are governed by the laws of the
          State of Texas, without reference to its conflict of laws principles.
          Any dispute between you and Nevly regarding these Terms will be
          subject to the exclusive jurisdiction of the federal and state courts
          located in Travis County, Texas. No Assignment. You may not assignment
          your rights under these Terms without our prior written consent. No
          Waiver. Nothing contained in these Terms constitutes a waiver by you
          of any of your legal rights under U.S. federal securities laws or any
          other laws that are not permitted to be contractually waived.
          Independent Contractor. Nothing in these Terms will be construed as
          creating any agency, partnership, joint venture, or other form of
          joint enterprise or employment relationship between you and Nevly. You
          are not an employee, representative, adviser, consultant, or other
          agent of Nevly as a result of these Terms or use of the Services. The
          parties will not have any express or implied right of authority to
          assume or create any obligations on behalf of or in the name of the
          other or to bind the other to any contract, agreement or undertaking
          with any third-party. Agreement. These Terms are the entire agreement
          between you and Nevly and supersedes any other communications with
          respect to the Service.
        </p>
      </div>
    </div>
  </div>
</div>
