<app-terms></app-terms>
<div class="container-fluid">
    <div class="footer-content row">
        <div class="col-md-3 col-sm-6">
            <h3>NEVLY</h3>
            <a [routerLink]="'/faqs'">Frequently Asked Questions</a>
            <a [routerLink]="'/contact'">Contact</a>
        </div>
        <div class="col-md-3 col-sm-6">
            <h3>NEVLY MONEY</h3>
            <a href="#">Product Features</a>
            <a href="#">Credit Monitoring</a>
            <a href="#">Rent Reporting</a>
            <a href="#">Report Auditing</a>
            <a href="#">Credit Builder Card</a>
            <a href="#">Rent Advances</a>
            <a href="#">Referral Earnings</a>
        </div>
        <div class="col-md-3 col-sm-6">
            <h3>TRANSPARENCY</h3>
            <a (click)="openTermsModal()">Terms and Conditions</a>
            <a href="#">Privacy Policy</a>
            <a href="#">Security Policy</a>
        </div>
        <div class="col-md-3 col-sm-6 download-app">
            <h3>DOWNLOAD THE APP</h3>
            <img src="imgs/app-store.png" alt="Appstore" class="img-fluid">
            <img src="imgs/google-store.png" alt="Google Play" class="img-fluid">
        </div>
    </div>
    <div class="footer-end">
        <img src="imgs/footer-icon.png" alt="Footer Icon">
        <img src="imgs/social.png" alt="Social Icons">
    </div>
    <hr>
    <p class="credit">© 2024 NEVLY Money. All rights reserved.</p>
</div>
