<div class="bullet-container">
  <div class="bullet-strip">
    <ul>
      <li>CASH ADVANCES</li>
      <li>REAL TIME CREDIT MONITORING</li>
      <li>RENT REPORTING</li>
      <li>24/7 CUSTOMER SUPPORT</li>
      <li>CREDIT BUILDER SERVICES</li>
    </ul>
  </div>
</div>

<div class="guide-container">
  <div class="guide container-fluid">
    <div class="guide-header">
      <h1 class="guide-title">HOW NEVLY MONEY WORKS</h1>
      <p class="guide-desc">
        Nevly Money was designed for members to use as many of its services as
        possible at the same time. This approach can result in a higher increase
        in credit score over a shorter period of time.
      </p>
    </div>
    <button class="btn join-now">
      JOIN NOW <img src="imgs/arrow.png" alt="Arrow" />
    </button>

    <div class="guide-steps">
      <div class="col-md-3 col-sm-6 p-3">
        <div class="guide-step">
          <h1 class="guide-no">1</h1>
          <h2>SIGN UP</h2>
          <p>
            Get started by selecting the subscription plan that is right for you
            and your journey and create your Nevly Money account.
          </p>
        </div>
      </div>
      <div class="col-md-3 col-sm-6 p-3">
        <div class="guide-step">
          <h1 class="guide-no">2</h1>
          <h2>IMPROVE YOUR CREDIT</h2>
          <p>
            If you are simply looking to keep track of what's going on with your
            credit, our Starter Plan is perfect for you. If you are ready to begin
            (re)building your credit, leverage our service offerings to begin
            doing that work.
          </p>
        </div>
      </div>
      <div class="col-md-3 col-sm-6 p-3">
        <div class="guide-step">
          <h1 class="guide-no">3</h1>
          <h2>MANAGE CASH FLOW</h2>
          <p>
            Leverage our Rent Advance service to provide you access to
            interest-free cash advances that help you out between paychecks or
            when unexpected things come up.
          </p>
        </div>
      </div>
      <div class="col-md-3 col-sm-6 p-3">
        <div class="guide-step">
          <h1 class="guide-no">4</h1>
          <h2>BUILD STRONG HABITS</h2>
          <p>
            Leverage Nevly Money's personalized service offerings to ensure the
            work you do to improve your credit profile and better manage your cash
            doesn't get undone by bad habits.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
